@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');
@import 'global/reset';

html {
  font: 400 14px/1.375 "Barlow", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.element--form {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	padding: 16px;
	width: 320px;
	background: #fff;
}

.form__item {
	position: relative;
	margin-bottom: 4px;
}

.input__label {
	position: absolute;
	top: calc(50% - 7px);
	left: 16px;
	color: #687884;
	display: block;
	overflow: hidden;
	font-size: 14px;
	transition: 200ms all ease-out;

	.input--text:focus + &,
	.input--text:not(:placeholder-shown) + & {
		font-size: 12px;
		top: calc(50% - 16px);
	}

	&:hover {
		cursor: text;
	}
}

.input--text {
	border-radius: 4px;
	border: 1px solid #c3c3c3;
	padding: 16px;
	height: 40px;
	outline: none;
	width: 100%;
	transition: 100ms all ease-in-out;
	color: #425563;
	background: #fff;

	&:focus {
		border-color: darken(#c3c3c3, 25%);
	}

	&:focus,
	&:not(:placeholder-shown) {
		padding: 22px 16px 10px;
	}
}

.group--buttons {
	align-self: flex-end;
	display: flex;
	flex-flow: row-reverse nowrap;
	gap: 4px;
}

[class*="btn--"] {
	font: 600 14px/1.375 "Barlow", sans-serif;
	outline: none;
	border-radius: 4px;
	border: none;
	height: 32px;
	padding: 0 16px;
	transition: 100ms all ease-in-out;
	font-weight: 400;
	white-space: nowrap;

	&:hover {
		cursor: pointer;
	}

	&:active {
		box-shadow: inset 2px 2px 4px 0 rgba(0,0,0,.1);
	}

	&:focus-visible {
		box-shadow: inset 0 0 0 2px lighten(#0162C0, 25%),
					inset 0 0 0 3px #fff;
	}
}

.btn--primary {
	background: #0162C0;
	color: #fff;

	&:hover {
		background: darken(#0162C0, 5%);
	}
}

.btn--neutral {
	color: #808080;
	background: #e1e1e1;

	&:hover {
		background: darken(#e1e1e1, 3%);
	}
}



// ====================================== //
//   #MOBILE-AND-BELOW
// ====================================== //

@media (max-width: 655px) {

.element--form {
	width: 90vw;
	margin: 0 5vw;
}

}