/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
}
button:hover {
  cursor: pointer;
}

html {
  font-family: "Source Sans 3", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  background: var(--color-greyscale-100);
}

:root {
  --font-body: "Source Sans 3", sans-serif;
  --font-title: "Barlow", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --font-xs: .625rem;
  --font-sm: .75rem;
  --font-md: .875rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --color-blue-900: #005BA5;
  --color-blue-700: #0072CE;
  --color-blue-500: #338ED8;
  --color-blue-300: #80B9E7;
  --color-blue-100: #F0F7FC;
  --color-navy-900: #001E2E;
  --color-navy-700: #00263A;
  --color-navy-500: #335161;
  --color-navy-300: #80939D;
  --color-navy-100: #E6E9EB;
  --color-green-900: #006A4E;
  --color-green-700: #008561;
  --color-green-500: #339D81;
  --color-green-300: #80C2B0;
  --color-green-100: #E6F3EF;
  --color-purple-900: #5E2F97;
  --color-purple-700: #753BBD;
  --color-purple-500: #9162CA;
  --color-purple-300: #BA9DDE;
  --color-purple-100: #F1EBF8;
  --color-red-900: #B40000;
  --color-red-700: #E10000;
  --color-red-500: #E73333;
  --color-red-300: #F08080;
  --color-red-100: #FDF1F1;
  --color-yellow-900: #F3D03E;
  --color-yellow-700: #F5D965;
  --color-yellow-500: #F9E89F;
  --color-yellow-300: #FBF1C5;
  --color-yellow-100: #FEFAEC;
  --color-black: #111921;
  --color-white: #ffffff;
  --color-greyscale-900: #1A2228;
  --color-greyscale-800: #28333B;
  --color-greyscale-700: #35444F;
  --color-greyscale-600: #40505B;
  --color-greyscale-500: #647281;
  --color-greyscale-400: #94A0A9;
  --color-greyscale-300: #B3BBC1;
  --color-greyscale-200: #D9DDE0;
  --color-greyscale-100: #F3F5F7;
  --text-default: var(--color-greyscale-900);
  --text-secondary: var(--color-greyscale-400);
  --text-error: var(--color-red-700);
  --input-border: var(--color-greyscale-200);
  --input-focus: var(--color-blue-700);
  --input-icon: var(--color-blue-700);
  --input-icon-hover: var(--color-blue-900);
  --input-label: var(--color-greyscale-500);
  --input-clear: var(--color-greyscale-300);
  --input-clear-hover: var(--color-greyscale-600);
  --elevation-dropdown:
      0 .25rem .75rem -.5rem rgb(0 0 0 / .3),
      0 -.125rem .25rem 0 rgb(0 0 0 / .1);
}

.m-group--form {
  display: grid;
  gap: 1.5rem;
  width: 100%;
}
.m-group--form > .m-btn {
  margin-top: -1rem;
}

.m-container--extension {
  position: relative;
  width: 25rem;
  height: 30rem;
  display: flex;
  flex-flow: column;
  padding-inline: 1rem;
  padding-block: 2rem 1rem;
  isolation: isolate;
  background: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

:root {
  --btn-primary: var(--color-blue-700);
  --btn-primary-hover: var(--color-blue-900);
}

.m-btn {
  position: relative;
  font-family: var(--font-title);
  text-decoration: none;
  display: grid;
  place-items: center;
}
.m-btn:focus-visible {
  outline: 2px solid var(--color-blue-700);
  box-shadow: inset 0 0 0 1px var(--color-white);
}

.m-btn:not(.m-btn--text) {
  background: var(--color-blue-700);
  color: var(--color-white);
  padding-inline: 2rem;
  height: 2.5rem;
  border-radius: 4px;
  border: none;
  font-size: 0.875rem;
  transition: 200ms background ease;
}
.m-btn:not(.m-btn--text):hover {
  cursor: pointer;
  background: var(--btn-primary-hover);
}
.m-btn:not(.m-btn--text)[disabled] {
  pointer-events: none;
  background: inherit;
}

.m-btn--text {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  color: var(--text-secondary);
}
.m-btn--text:hover, .m-btn--text:focus-visible {
  color: var(--text-error);
}

.is-loading {
  pointer-events: none;
  opacity: 0.5;
}
.is-loading :is(i, span) {
  visibility: hidden;
}
.is-loading :is(i, span):first-child::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  opacity: 0.5;
  visibility: visible;
  background-image: url("../img/fa-spinner.svg");
  background-size: 24px 24px;
  animation: loading 800ms ease-in-out infinite;
}

.m-btn--icon {
  fill: var(--btn-primary);
}
.m-btn--icon:hover {
  fill: var(--btn-primary-hover);
}

@keyframes loading {
  0% {
    rotate: -60deg;
  }
  90% {
    rotate: 300deg;
  }
  100% {
    rotate: 300deg;
  }
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  appearance: none;
  background: transparent;
}
select:hover {
  cursor: pointer;
}

.m-input__icon--trailing {
  z-index: -1;
}

[class*=m-input__field] {
  border-radius: 4px;
  border: 1px solid var(--input-border);
  padding: 0 16px;
  width: 100%;
  height: 40px;
  transition: 200ms border-color ease-in-out;
}
[class*=m-input__field]::-moz-placeholder {
  color: var(--text-placeholder);
}
[class*=m-input__field]::placeholder {
  color: var(--text-placeholder);
}
[class*=m-input__field]:has(+ .m-input__actions) {
  padding-inline-end: 3rem;
}
.m-input__icon--leading ~ [class*=m-input__field] {
  padding-left: 40px;
}
[class*=m-input__field]:focus-visible {
  border-color: var(--input-focus);
}
.m-input--small [class*=m-input__field] {
  height: 32px;
  font-size: var(--font-sm);
}
.m-input--oversized [class*=m-input__field] {
  height: 56px;
  font-size: 20px;
}

.m-input__item {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
  isolation: isolate;
}
.m-input__item.m-input--small {
  max-width: 320px;
}
.m-input__item.m-input--large {
  max-width: 400px;
  width: 100%;
}
.m-input__item.m-input--oversized {
  max-width: 480px;
}

.m-input__header {
  position: absolute;
  top: -8px;
  left: 8px;
  z-index: 1;
  padding: 0 8px;
  background: var(--color-white);
  color: var(--input-label);
  font-size: var(--font-md);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 4px;
  min-height: 16px;
}

.m-input__label {
  white-space: nowrap;
  transition: 200ms all ease-in-out;
}
.is-required .m-input__label::after {
  content: "*";
  color: var(--text-error);
  padding-left: 0.1em;
}
.m-input--small .m-input__label {
  font-size: var(--font-xs);
}
.m-input--oversized .m-input__label {
  font-size: var(--font-sm);
}

.m-input__tooltip {
  color: var(--input-icon);
}

.m-input__body {
  position: relative;
}

[class*=m-input__icon] {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  font-size: var(--font-sm);
  color: var(--input-icon);
}

.m-input__icon--leading {
  left: 16px;
}

.m-input__icon--trailing {
  right: 16px;
}

.m-input__actions {
  position: absolute;
  inset: 4px 4px 4px auto;
  display: flex;
  flex-flow: row-reverse nowrap;
}
.m-input__actions [class*=m-btn--] {
  z-index: 2;
  aspect-ratio: 1;
  height: 100%;
  border-radius: 2px;
  color: var(--input-icon);
}
.m-input__actions [class*=m-btn--] i,
.m-input__actions [class*=m-btn--] i::before {
  line-height: 1.25rem;
  height: 1rem;
  aspect-ratio: 1;
}
.m-input__actions [class*=m-btn--]:hover {
  cursor: pointer;
  color: var(--input-icon-hover);
}
.m-input__actions [class*=m-btn--] + [class*=m-btn--] {
  box-shadow: 13px 0 0 -12px var(--input-border);
  z-index: 1;
}
.m-input__actions .m-input__clear {
  fill: var(--input-clear);
}
.m-input__actions .m-input__clear:hover, .m-input__actions .m-input__clear:focus-visible {
  fill: var(--input-clear-hover);
}

/* You can click on the caret to expand the select dropdown */
select + .m-input__actions {
  z-index: -1;
}
select + .m-input__actions:hover {
  cursor: pointer;
}

.m-input__clear {
  visibility: hidden;
  opacity: 0;
  transition: 200ms all ease-in-out;
}
.m-input__item:focus-within [class*=m-input__field]:not(:-moz-placeholder-shown) + .m-input__actions .m-input__clear {
  visibility: visible;
  opacity: 1;
}
.m-input__item:focus-within [class*=m-input__field]:not(:placeholder-shown) + .m-input__actions .m-input__clear {
  visibility: visible;
  opacity: 1;
}

.m-input__dropdown {
  position: absolute;
  inset: calc(100% + 0.125rem) 0 auto 0;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  padding: 0 0.5rem;
  border-radius: 4px;
  background: var(--color-white);
  transition: 100ms all;
  box-shadow: var(--elevation-dropdown);
}
.m-input__body:focus-within .m-input__dropdown {
  visibility: visible;
  opacity: 1;
}
.m-input__dropdown .m-list--dropdown {
  display: grid;
  gap: 1px;
  max-height: 279px;
  overflow-y: auto;
  padding-block: 0.5rem;
}
.m-input__dropdown .m-list--dropdown:has(li:nth-child(8)) {
  padding-inline-end: 0.5rem;
}
.m-input__dropdown .m-list--dropdown::-webkit-scrollbar {
  width: 4px;
}
.m-input__dropdown .m-list--dropdown::-webkit-scrollbar-track {
  background: transparent;
  margin: 0.5rem 1rem;
}
.m-input__dropdown .m-list--dropdown::-webkit-scrollbar-thumb {
  background: #B1BDC3;
  border-radius: 4px;
}
.m-input__dropdown .m-list--dropdown::-webkit-scrollbar-track-piece {
  margin-right: 1rem;
}
.m-input__dropdown .no-event {
  pointer-events: none;
}
.m-input__dropdown .m-dropdown__item {
  font-size: var(--font-md);
  line-height: 1.25;
  color: var(--text-default);
  border-radius: 4px;
  min-height: 2rem;
  padding: 0.25rem 0.5rem;
  display: grid;
  align-items: center;
}
.m-input__dropdown .m-dropdown__item.is-selected, .m-input__dropdown .m-dropdown__item:hover {
  background: var(--color-blue-100);
  cursor: pointer;
}

.m-input__footer {
  line-height: 1.3;
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  color: var(--text-secondary);
  font-size: var(--font-sm);
  margin-bottom: -0.2rem;
  padding: 0 16px;
}

.m-input__count {
  white-space: nowrap;
  margin-left: auto;
}
.m-input__count .has-error {
  color: var(--text-error);
}

.m-input--small .m-tooltip__control [class*=fa-]::before {
  font-size: var(--font-sm);
}
.m-input--small .m-input__label {
  font-size: var(--font-xs);
}
.m-input--small [class*=m-input--] {
  height: 32px;
  font-size: var(--font-sm);
}

.m-input-size--oversized {
  gap: 2px;
}
.m-input-size--oversized .m-input__header {
  left: 16px;
}
.m-input-size--oversized .m-input__label {
  font-size: var(--font-sm);
}
.m-input-size--oversized [class*=m-input__field] {
  height: 56px;
  font-size: var(--font-xl);
  padding-left: 24px;
}
.m-input-size--oversized .m-input__actions {
  right: 8px;
}
.m-input-size--oversized .m-input__footer {
  padding: 0 24px;
  font-size: var(--font-lg);
}

.has-error .m-input--text {
  border-color: var(--text-error);
}
.has-error .m-input__support {
  color: var(--text-error);
}

.m-input--secondary [class*=m-input__field--]:not(:-moz-placeholder-shown) {
  padding: 22px 16px 8px;
}

.m-input--secondary [class*=m-input__field--]:focus, .m-input--secondary [class*=m-input__field--]:not(:placeholder-shown) {
  padding: 22px 16px 8px;
}
.m-input--secondary .m-input__header {
  position: absolute;
  top: calc(50% - 8px);
  left: 16px;
  color: var(--input-label);
  display: flex;
  height: 16px;
  font-size: 14px;
  transition: 150ms all ease-out;
  background: none;
  padding: 0;
}
.m-input--secondary .m-input__header:hover {
  cursor: text;
}
.m-input--secondary [class*=m-input__field--]:not(:-moz-placeholder-shown) + .m-input__header {
  top: calc(50% - 18px);
}
.m-input--secondary [class*=m-input__field--]:focus + .m-input__header,
.m-input--secondary [class*=m-input__field--]:not(:placeholder-shown) + .m-input__header {
  top: calc(50% - 18px);
}
.m-input--secondary [class*=m-input__field--]:not(:-moz-placeholder-shown) + .m-input__header .m-input__label {
  font-size: 12px;
  opacity: 0.7;
}
.m-input--secondary [class*=m-input__field--]:focus + .m-input__header .m-input__label,
.m-input--secondary [class*=m-input__field--]:not(:placeholder-shown) + .m-input__header .m-input__label {
  font-size: 12px;
  opacity: 0.7;
}
.m-input--secondary .m-input__label:hover {
  cursor: text;
}

[class*=m-input__modal--] {
  position: absolute;
  top: calc(100% + 2px);
  right: 0;
  min-width: 240px;
  width: 100%;
  overflow: hidden;
  background: var(--color-white);
  border: none;
}
[class*=m-input__modal--] .m-modal__header,
[class*=m-input__modal--] .m-modal__body,
[class*=m-input__modal--] .m-modal__footer {
  padding-inline: 1rem;
  padding-block: 0.5rem;
}
[class*=m-input__modal--] .m-modal__header {
  border-bottom: 1px solid #e1e1e1;
}
[class*=m-input__modal--] .m-modal__body {
  max-height: 208px;
  overflow-y: scroll;
  background: var(--color-white);
}
[class*=m-input__modal--] .m-modal__body li {
  display: flex;
  padding: 0 16px;
  min-height: 32px;
  border-radius: 4px;
  align-items: center;
}
[class*=m-input__modal--] .m-modal__body li:hover {
  background: #F2F8FC;
  cursor: pointer;
}
[class*=m-input__modal--] .m-modal__footer {
  border-top: 1px solid #e1e1e1;
  background: var(--bg-offwhite);
}
[class*=m-input__modal--] .m-input__item {
  max-width: 100%;
}

.m-list__title {
  color: var(--text-secondary);
  text-align: left;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-bottom: 1px dotted var(--input-border);
  font-size: var(--font-md);
}

.m-state--empty {
  margin: 0.5rem 0;
  height: calc(100% - 0.5rem);
  border-radius: 0.25rem;
  background: var(--color-greyscale-100);
  color: var(--text-secondary);
  display: grid;
  place-items: center;
  font-size: var(--font-md);
}

.m-results {
  width: 100%;
  margin-top: 1rem;
}

.m-list--overrides {
  height: 184px;
  border-bottom: 1px dotted var(--input-border);
  box-shadow: inset 0 0 1rem 0 white;
  width: 100%;
}
.m-list--overrides::-webkit-scrollbar {
  width: 4px;
}
.m-list--overrides::-webkit-scrollbar-track {
  background: transparent;
  margin: 0.5rem 1rem;
}
.m-list--overrides::-webkit-scrollbar-thumb {
  background: #B1BDC3;
  border-radius: 4px;
}
.m-list--overrides::-webkit-scrollbar-track-piece {
  margin-right: 1rem;
}
.m-list--overrides:has(li:nth-child(6)) {
  padding-inline-end: 1rem;
  overflow-y: auto;
}
.m-list--overrides:has(li:nth-child(6)) .m-list__item {
  padding-inline-end: 0;
}
.m-list--overrides:has(li:nth-child(2)) .m-state--empty {
  display: none;
}
.m-list--overrides:has(li:nth-child(2)) {
  height: 192px;
}

.m-list__item {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 1rem 0.5rem;
  border-bottom: 1px dotted var(--input-border);
  min-height: 3rem;
}
.m-list__item:last-child {
  border: none;
}

.m-item__content h4,
.m-item__content small {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.m-item__content h4 {
  color: var(--text-default);
  font-size: var(--font-md);
  margin-block-end: 0.125rem;
}
.m-item__content small {
  color: var(--text-secondary);
  font-size: 0.6875rem;
  font-family: var(--font-mono);
}

.m-item__action {
  aspect-ratio: 1;
  fill: var(--text-secondary);
}
.m-item__action:hover, .m-item__action:focus-visible {
  fill: var(--text-error);
}

.m-list__actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 0.25rem;
}
.m-list__actions .m-btn--text {
  visibility: hidden;
}

.m-list--overrides:has(li:nth-child(2)) + .m-list__actions .m-btn--text {
  visibility: visible;
}

.m-brand--te {
  display: flex;
  width: 240px;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
}

.m-signin {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
  align-items: center;
  margin-block: auto;
}

.m-title {
  color: var(--text-secondary);
}/*# sourceMappingURL=styles.css.map */