@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
}
button:hover {
  cursor: pointer;
}

html {
  font: 400 14px/1.375 "Barlow", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.element--form {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: 16px;
  width: 320px;
  background: #fff;
}

.form__item {
  position: relative;
  margin-bottom: 4px;
}

.input__label {
  position: absolute;
  top: calc(50% - 7px);
  left: 16px;
  color: #687884;
  display: block;
  overflow: hidden;
  font-size: 14px;
  transition: 200ms all ease-out;
}
.input--text:not(:-moz-placeholder-shown) + .input__label {
  font-size: 12px;
  top: calc(50% - 16px);
}
.input--text:focus + .input__label, .input--text:not(:placeholder-shown) + .input__label {
  font-size: 12px;
  top: calc(50% - 16px);
}
.input__label:hover {
  cursor: text;
}

.input--text {
  border-radius: 4px;
  border: 1px solid #c3c3c3;
  padding: 16px;
  height: 40px;
  outline: none;
  width: 100%;
  transition: 100ms all ease-in-out;
  color: #425563;
  background: #fff;
}
.input--text:focus {
  border-color: #838383;
}
.input--text:not(:-moz-placeholder-shown) {
  padding: 22px 16px 10px;
}
.input--text:focus, .input--text:not(:placeholder-shown) {
  padding: 22px 16px 10px;
}

.group--buttons {
  align-self: flex-end;
  display: flex;
  flex-flow: row-reverse nowrap;
  gap: 4px;
}

[class*=btn--] {
  font: 600 14px/1.375 "Barlow", sans-serif;
  outline: none;
  border-radius: 4px;
  border: none;
  height: 32px;
  padding: 0 16px;
  transition: 100ms all ease-in-out;
  font-weight: 400;
  white-space: nowrap;
}
[class*=btn--]:hover {
  cursor: pointer;
}
[class*=btn--]:active {
  box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
}
[class*=btn--]:focus-visible {
  box-shadow: inset 0 0 0 2px #42a2fe, inset 0 0 0 3px #fff;
}

.btn--primary {
  background: #0162C0;
  color: #fff;
}
.btn--primary:hover {
  background: #0155a7;
}

.btn--neutral {
  color: #808080;
  background: #e1e1e1;
}
.btn--neutral:hover {
  background: #d9d9d9;
}

@media (max-width: 655px) {
  .element--form {
    width: 90vw;
    margin: 0 5vw;
  }
}/*# sourceMappingURL=v1.css.map */