html {
    font-family: 'Source Sans 3', sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: inherit;
}


body {
    background: var(--color-greyscale-100);
    display: grid;
    place-items: center;
}