.m-group--form {
    display: grid;
    gap: 1.5rem;
    width: 100%;

    > .m-btn {
        margin-top: -1rem;
    }
}

.m-container--extension {
    position: relative;
    width: 25rem;
    height: 30rem;
    display: flex;
    flex-flow: column;
    padding-inline: 1rem;
    padding-block: 2rem 1rem;
    isolation: isolate;
    background: var(--color-white);
    border-radius: .5rem;
    box-shadow: 0 8px 16px 0 rgba(0 0 0 / 10%);
}
