:root {
    
    --font-body: 'Source Sans 3', sans-serif;
    --font-title: 'Barlow', sans-serif;
    --font-mono: 'Roboto Mono', monospace;

    --font-xs:   .625rem;
    --font-sm:    .75rem;
    --font-md:   .875rem;
    --font-lg:   1.25rem;
    --font-xl:    1.5rem;


    --color-blue-900: #005BA5;
    --color-blue-700: #0072CE;
    --color-blue-500: #338ED8;
    --color-blue-300: #80B9E7;
    --color-blue-100: #F0F7FC;

    --color-navy-900: #001E2E;
    --color-navy-700: #00263A;
    --color-navy-500: #335161;
    --color-navy-300: #80939D;
    --color-navy-100: #E6E9EB;

    --color-green-900: #006A4E;
    --color-green-700: #008561;
    --color-green-500: #339D81;
    --color-green-300: #80C2B0;
    --color-green-100: #E6F3EF;

    --color-purple-900: #5E2F97;
    --color-purple-700: #753BBD;
    --color-purple-500: #9162CA;
    --color-purple-300: #BA9DDE;
    --color-purple-100: #F1EBF8;

    --color-red-900: #B40000;
    --color-red-700: #E10000;
    --color-red-500: #E73333;
    --color-red-300: #F08080;
    --color-red-100: #FDF1F1;

    --color-yellow-900: #F3D03E;
    --color-yellow-700: #F5D965;
    --color-yellow-500: #F9E89F;
    --color-yellow-300: #FBF1C5;
    --color-yellow-100: #FEFAEC;


    --color-black:      #111921;
    --color-white:      #ffffff;

    --color-greyscale-900: #1A2228;
    --color-greyscale-800: #28333B;
    --color-greyscale-700: #35444F;
    --color-greyscale-600: #40505B;
    --color-greyscale-500: #647281;
    --color-greyscale-400: #94A0A9;
    --color-greyscale-300: #B3BBC1;
    --color-greyscale-200: #D9DDE0;
    --color-greyscale-100: #F3F5F7;



    --text-default:     var(--color-greyscale-900);
    --text-secondary:   var(--color-greyscale-400);
    --text-error:       var(--color-red-700);


    --input-border:         var(--color-greyscale-200);
    --input-focus:          var(--color-blue-700);
    --input-icon:           var(--color-blue-700);
    --input-icon-hover:     var(--color-blue-900);
    --input-label:          var(--color-greyscale-500);
    --input-clear:          var(--color-greyscale-300);
    --input-clear-hover:    var(--color-greyscale-600);

    --elevation-dropdown:
        0 .25rem .75rem -.5rem rgb(0 0 0 / .3),
        0 -.125rem .25rem 0 rgb(0 0 0 / .1);
}

