:root {

--btn-primary:       var(--color-blue-700);
--btn-primary-hover: var(--color-blue-900);

}

.m-btn {
    position: relative;
    font-family: var(--font-title);
    text-decoration: none;
    display: grid;
    place-items: center;

    &:focus-visible {
        outline: 2px solid var(--color-blue-700);
        box-shadow: inset 0 0 0 1px var(--color-white);  
    }
}


.m-btn:not(.m-btn--text) {
    background: var(--color-blue-700);
    color: var(--color-white);
    padding-inline: 2rem;
    height: 2.5rem;
    border-radius: 4px;
    border: none;
    font-size: .875rem;
    transition: 200ms background ease;

    &:hover {
        cursor: pointer;
        background: var(--btn-primary-hover);
    }

    &[disabled] {
        pointer-events: none;
        background: inherit;
    }
}

.m-btn--text {
    padding-block: .5rem;
    padding-inline: 1rem;
    color: var(--text-secondary);

    &:hover,
    &:focus-visible {
        color: var(--text-error);
    }
}

.is-loading {
    pointer-events: none;
    opacity: .5;

    :is(i, span) {
        visibility: hidden;

        &:first-child::after {
            content: '';
            position: absolute;
            inset: 0;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            width: 24px;
            opacity: .5;
            visibility: visible;
            background-image: url('../img/fa-spinner.svg');
            background-size: 24px 24px;
            animation: loading 800ms ease-in-out infinite;
        }
    }
}

.m-btn--icon {
    fill: var(--btn-primary);
    &:hover {
        fill: var(--btn-primary-hover);
    }
}

@keyframes loading {
    0% {
        rotate: -60deg;
    }
    90% {
        rotate: 300deg;
    }
    100% {
        rotate: 300deg;
    }
}