.m-list__title {
    color: var(--text-secondary);
    text-align: left;
    padding-inline: 1rem;
    padding-block: .5rem;
    border-bottom: 1px dotted var(--input-border);
    font-size: var(--font-md);
}


.m-state--empty {
    margin: .5rem 0;
    height: calc(100% - .5rem);
    border-radius: .25rem;
    background: var(--color-greyscale-100);
    color: var(--text-secondary);
    display: grid;
    place-items: center;
    font-size: var(--font-md);
}


.m-results {
    width: 100%;
    margin-top: 1rem;
}


.m-list--overrides {
    height: 184px;
    border-bottom: 1px dotted var(--input-border);
    box-shadow: inset 0 0 1rem 0 white;
    width: 100%;

    &::-webkit-scrollbar {
        width: 4px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
        margin: .5rem 1rem;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #B1BDC3;
        border-radius: 4px;
    }
    
    &::-webkit-scrollbar-track-piece {
        margin-right: 1rem;
    }
    
    &:has(li:nth-child(6)) {
        padding-inline-end: 1rem;
        overflow-y: auto;
        
        .m-list__item {
            padding-inline-end: 0;
        }
    }

    &:has(li:nth-child(2)) .m-state--empty {
        display: none;
    }

    &:has(li:nth-child(2)) {
        height: 192px;
    }
}


.m-list__item {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    align-items: center;
    gap: .5rem;
    padding-inline: 1rem .5rem;
    border-bottom: 1px dotted var(--input-border);
    min-height: 3rem;

    &:last-child {
        border: none;
    }
}


.m-item__content {

    h4,
    small {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    h4 {
        color: var(--text-default);
        font-size: var(--font-md);
        margin-block-end: .125rem;
    }

    small {
        color: var(--text-secondary);
        font-size: .6875rem;
        font-family: var(--font-mono);
    }
    
}


.m-item__action {
    aspect-ratio: 1;
    fill: var(--text-secondary);

    &:hover,
    &:focus-visible {
        fill: var(--text-error);
    }
}


.m-list__actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: .25rem;

    .m-btn--text {
        visibility: hidden;
    }
}


.m-list--overrides:has(li:nth-child(2)) + .m-list__actions .m-btn--text {
    visibility: visible;
}