.m-brand--te {
    display: flex;
    width: 240px;
    flex-flow: column;
    align-items: center;
    gap: .5rem;
}

.m-signin {
    display: flex;
    flex-flow: column;
    gap: 2.5rem;
    align-items: center;
    margin-block: auto;
}

.m-title {
    color: var(--text-secondary);
}